.modal-90w {
  max-width: 50% !important;

  @media (max-width: 1300px) {
    max-width: 90% !important;
  }
}

.loading-view {
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 300px;
}

.modal__header {
  position: relative;

  @media (max-width: 950px) {
    max-height: 500px;
    overflow  : hidden;

    >img {
      width: 100%;
    }
  }

  >img {
    margin       : 0 auto;
    display      : block;
    border-radius: 30px;
    padding      : 10px;
  }

  .save-button,
  .close-button {
    font-size: 25px;
    cursor   : pointer;
  }

  .save-button {
    position: absolute;
    right   : 10px;
    bottom  : 10px;

    &__active {
      color: red;
    }
  }

  .close-button {
    position: absolute;
    right   : 10px;
    top     : 0px;
    border-radius: 50%;
  }
}

.modal__separator {
  height    : 50px;
  box-shadow: inset 0px -30px 19px -16px rgba(0, 0, 0, 0.9);
}

.modal__content {
  background-color: #2D2D2D;
  padding         : 10 30px;
  color           : white;

  >.title {
    padding: 0 30px;
  }

  >.attributes {
    display        : flex;
    justify-content: space-between;
    padding        : 10px 30px;

    >div {
      >div:first-of-type {
        font-size: 22px;
      }

      >div:last-of-type {
        color: #aaa;
      }
    }
  }

  >.overview {
    padding: 30px 30px;
  }

  >.genres {
    padding: 0 35px 30px;

    >div {
      display  : flex;
      flex-wrap: wrap;
      gap      : 10px;

      >div {
        border          : 1px solid gray;
        padding         : 5px 10px;
        border-radius   : 5px;
        background-color: #f5f5f5;
        color           : black;
      }
    }
  }

  >.links {
    padding: 50px 35px;

    a {
      text-decoration : none;
      background-color: yellow;
      color           : black;
      padding         : 10px 20px;
      border          : 1px solid black;
      border-radius   : 8px;
    }
  }
}