* {
  margin     : 0;
  padding    : 0;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.App {
  min-height   : 100vh;
  display      : flex;
  // background: radial-gradient(circle, purple 0, #3e1456 100%);
  background   :
    linear-gradient(to left top, #1A2731 0%
      /*bottom-right color*/
      , rgba(20, 40, 50, 0.5) 50%
      /*middle color*/
      , #364D5A 100%
      /*top-left color*/
    ),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))
    /*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/
  ;
}